<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Stocks</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet"/>

        <link rel="stylesheet" href="../fonts/icomoon/style.css"/>

        <link rel="stylesheet" href="../css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../css/bootstrap-datepicker.css"/>
        <link rel="stylesheet" href="../css/jquery.fancybox.min.css"/>
        <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
        <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
        <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css"/>
        <link rel="stylesheet" href="../css/aos.css"/>

        <!-- MAIN CSS -->
        <link rel="stylesheet" href="../css/style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="/" class="font-weight-bold">Stocks, Stocks and More Stocks.</a>
              </div>
            </div>

            <div class="col-9  text-right">
              <span class="d-inline-block d-lg-block"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>
            </div>            
          </div>
        </div>
      </header>
    </div>
    <div class="ftco-blocks-cover-1" style="background-color: black">
      <div class="site-section-cover overlay" style="min-height: 1080px">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <div align="center">
        <br/>
        <br/>
          <br/>
        <br/>
        <div align="center">
            <h2 style="color:gainsboro">Market Stock History <p th:text="${id}"></p></h2>
        </div>
        <br/>
        <div style="overflow-y:scroll; height:700px;" class="container" align="center">
            <table class="table" id="history" style = "width:100%">
                <thead>
                    <tr style="text-align: center">
                        <th>Date</th>
                        <th>Low</th>
                        <th>Volume</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Close</th>
                    </tr>
                </thead>
                <tbody style="color: white">
                    <tr  th:each="hist : ${historico}" style="text-align: center">
                        <td th:text="${hist.date}"></td>
                        <td th:text="${hist.low}"></td>
                        <td th:text="${hist.volume}"></td>
                        <td th:text="${hist.open}"></td>
                        <td th:text="${hist.high}"></td>
                        <td th:text="${hist.close}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
        </div>
    </body>	
 
</html>
