<!DOCTYPE HTML>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"/>
        <title>Default title for my pages</title>
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div>Stocks List</div>
        <table class="table" id="product-table">
            <thead>
                <tr>
                    <th>Stock Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stock : ${list_of_stocks}">
                    <td><a th:text="${stock}" th:href="@{'/stock_id/' + ${stock}}"></a></td>
                </tr>
            </tbody>
        </table>
        
        <p>OK</p>
    </body>